.small-img{
    height:110px;
    width: 90px;
}
.single-img-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.single-main{
    margin-left: 40px;
    display: flex;
    gap: 20px;
}
.big-img{
    margin-left: 130px;
    height: 800px;
    width: 600px;
    background-color: red;
}
.img-div2{
    background-color: rgb(225,2225,225);
    height: 800px;
    width: 800px;
    /* border: 1px solid black; */
    box-shadow: 50px grey;
}
.add-to-cart-button{
    background-color: rgb(166,230,136);
    font-weight:bolder;
    width:450px;
    height: 45px;
    border: 1px solid rgb(166,230,136);
    border-radius: 5px;
}