.image-cart{
    height: 150px;
    width: 110px;
}
.product-cart-div{
    border: 1px solid black;
    height: auto;
    width: 940px;
}
.checkout-button{
    height: 45px;
    width:450px;
    margin-left: 25px;
    margin-top: 8px;
    background-color: rgb(166,230,136);
    color: rgb(3,93,89);
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
}